
body{
	background-color: #00183D;
  font-family: "Times New Roman", serif;
}



img {
	position: absolute;
	margin-left: 15%;
display:inline-block;
  height:100%;
}


button{
  margin-top:20%;
}

ul{
	list-style-type: none;
	display:inline-block;
}


character{
z-index: -1000;   
}

.shirt{
	visibility:hidden;
  z-index: 2;
}

.pant{
	visibility:hidden;
  z-index: 1;
	}















